<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureGen - Password Generator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>SecureGen</h1>
    <p>Generate strong, secure passwords instantly</p>

    <div class="nav-buttons">
        <button onclick="window.location.href='/'">Home</button>
        <button onclick="window.location.href='/about'">About</button>
        <button onclick="window.location.href='/chunked'">Chunk Password Format</button>
        <button onclick="window.location.href='/random'">Random Password Format</button>
    </div>
</header>

<main class="main_webpage">

    <!-- Password Length -->
    <div class="widget">
        <h2>Password Length</h2>
        <div id="chuck_amount_input">
            <input id="amountInput" type="number" min="2" value="6">
        </div>
      <div id="chuck_size_input">
            <input id="sizeInput" type="number" min="4" value="8">
        </div>
    </div>

    <!-- Generate button -->
    <div class="widget generate_btn">
        <button onclick="generatePassword()">Generate Password</button>
    </div>

    <!-- Output -->
    <div class="widget">
        <h2>Your Password</h2>
        <div class="password_output" id="passwordOutput"></div>

        <div class="generate_btn" style="margin-top: 15px;">
            <button onclick="copyPassword()">Copy to Clipboard</button>
        </div>
    </div>

</main>

<footer>
<!--
    SecureGen © 2025 — Simple, Secure, Smart.
-->
</footer>

<!-- Load JS file -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
